html {
	min-width: 100%;
	min-height: 100%;
}

body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
}
.app {
	min-width: 100%;
	min-height: 100%;
}
 .edit-area {
    width:95%;
    height: 300px;
    display:inline-block;
    position:relative;
}
#mainCode {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.output {
  font-family:"Courier New",monospace;
	white-space: pre;
	min-width: 90%;
	min-height: 200px;
	max-height: 200px;
	overflow: auto;
	border: 1px solid black;
}